<div class="container-fluid">
	<ol class="breadcrumb" style="background-color: #fff;">
		<li><a href="#">我的店铺</a></li>
		<li><a href="#">店铺管理</a></li>
		<li class="active">认证设置</li>
	</ol>
	<div class="ucenter-content">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-sm-2 form-label">个人实名认证</label>
				<div class="col-sm-6">
					<input type="file" id="exampleInputFile">
					<p class="help-block">上传身份证或其他个人身份证件.</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 form-label">店铺认证</label>
				<div class="col-sm-6">
					<input type="file" id="exampleInputFile">
					<p class="help-block">上传官方证明材料.</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="inputError"></label>
				<div class="col-sm-6">
					<button type="submit" class="btn btn-primary">提	交</button>
				</div>
			</div>
		</form>
	</div>
</div> 