<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>放心农场-首页</title>
    <!-- Bootstrap core CSS -->
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="__CSS__/main.css" rel="stylesheet">
  </head>
  <body>
<include file="./Application/Layout/nav.html" />
<div class="jumbotron search-jumbotron">
    	<div class="container">
			<div class="row" style="margin-left: 0px;margin-right: 0px;text-align:center;">
					<div class="search-title"><span><span style="font-size:35px;">北京放心农场</span></span></div> 
			</div>
		  </div>
	</div>
	<div class="container">
	    <div class="row">
			<div class="col-md-2" style="padding-left: 30px;padding-right: 0;">
				<ul class="nav ucenter-bar">
		            <li>
		            	<a href="#"><span class="glyphicon glyphicon-home">账户管理</span></a>
		            	<ul class="nav ucenter-bar-two">
				            <li><a href="#"><span class="glyphicon glyphicon-home">账户管理</span></a></li>
				            <li><a href="#shop"><span class="glyphicon glyphicon-shopping-cart">商品管理</span></a></li>
				            <li><a href="#support"><span class="glyphicon glyphicon-headphones">交易管理</span></a></li>
				            <li><a href="#support"><span class="glyphicon glyphicon-headphones">消息中心</span></a></li>
				            <li><a href="#support"><span class="glyphicon glyphicon-headphones">我的收藏</span></a></li>
		          		</ul>
		            </li>
		            <li><a href="#shop"><span class="glyphicon glyphicon-shopping-cart">商品管理</span></a></li>
		            	<ul class="nav ucenter-bar-two">
				            <li><a href="#shop"><span class="glyphicon glyphicon-shopping-cart">商品管理</span></a>
		          		</ul>
		          	</li>	
		            <li><a href="#support"><span class="glyphicon glyphicon-headphones">交易管理</span></a>
		            	<ul class="nav ucenter-bar-two">
				            <li><a href="#shop"><span class="glyphicon glyphicon-shopping-cart">商品管理</span></a></li>
		          		</ul>		
		            </li>
		            <li><a href="#support"><span class="glyphicon glyphicon-headphones">消息中心</span></a>
		            	<ul class="nav ucenter-bar-two">
				            <li><a href="#shop"><span class="glyphicon glyphicon-shopping-cart">商品管理</span></a></li>
		          		</ul>
		            </li>
		            <li><a href="#support"><span class="glyphicon glyphicon-headphones">我的收藏</span></a>
		            	<ul class="nav ucenter-bar-two">
				            <li><a href="#shop"><span class="glyphicon glyphicon-shopping-cart">商品管理</span></a></li>
		          		</ul>
		            </li>
          		</ul>
			</div>
			<div class="col-md-10">
				{__CONTENT__}
			</div>
	    </div>         
	</div>
<include file="./Application/Layout/footer.html" />
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="__JS__/jquery.min.js"></script>
    <script src="__JS__/bootstrap.min.js"></script>
  </body>
</html>