 <div class="row" style="padding: 70px  0 0;">
			<div class="col-sm-6 col-md-4 list" style="margin-bottom: 20px;">
				<div class="contents">
					<div class="thumbnail-1">
						<a href="#"><img src="http://static.i3.xywy.com/cms/20141215/8b0f29c8be62c3859ecfdb948fe22c8241173.jpg" alt="Generic placeholder thumbnail"></a>
					</div>
					<div style="height:130px;">
						<p class="contents-title"><span><a href="#">正宗富士苹果</a></span> </p>
						<p class="contents-company"><span><a href="#">北京新发地农贸</a></span></p>
						<p class="contents-describe"><span>使用单一的一组.col-md-*栅格类，就可以创建一个基本的栅格... </span></p>
						<p align="right" style="margin: 0;">
							<span style="font-size:12px;">
								赞(<span><a href="#" target="_black">11</a></span>)&nbsp; 
								推荐(<span><a href="#" target="_black">11</a></span>)&nbsp; 
								评论(<span><a href="#" target="_black">11</a></span>)&nbsp; 
							</span> 
						  	</p>
							<p align="right"><span>By </span><span style="font-size:12px;"><a>kinddd</a> &nbsp;</span></p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 list" style="margin-bottom: 20px;">
				  <div class="contents">
					<div class="thumbnail-1">
						<a href="#"><img src="http://static.i3.xywy.com/cms/20141215/8b0f29c8be62c3859ecfdb948fe22c8241173.jpg" alt="Generic placeholder thumbnail"></a>
					</div>
					<div style="height:130px;">
						<p class="contents-title"><span><a href="#">正宗富士苹果</a></span> </p>
						<p class="contents-company"><span><a href="#">北京新发地农贸</a></span></p>
						<p class="contents-describe"><span>使用单一的一组.col-md-*栅格类，就可以创建一个基本的栅格... </span></p>
						<p align="right" style="margin: 0;">
							<span style="font-size:12px;">
								赞(<span><a href="#" target="_black">11</a></span>)&nbsp; 
								推荐(<span><a href="#" target="_black">11</a></span>)&nbsp; 
								评论(<span><a href="#" target="_black">11</a></span>)&nbsp; 
							</span> 
						  	</p>
							<p align="right"><span>By </span><span style="font-size:12px;"><a>kinddd</a> &nbsp;</span></p>
						</div>
					</div>
				  </div>
				<div class="col-sm-6 col-md-4 list" style="margin-bottom: 20px;">
				  <div class="contents">
					<div class="thumbnail-1">
						<a href="#"><img src="__IMG__/6453013_133853054136_2.jpg" alt="Generic placeholder thumbnail"></a>
					</div>
					<div style="height:130px;">
						<p class="contents-title"><span><a href="#">正宗富士苹果</a></span> </p>
						<p class="contents-company"><span><a href="#">北京新发地农贸</a></span></p>
						<p class="contents-describe"><span>使用单一的一组.col-md-*栅格类，就可以创建一个基本的栅格... </span></p>
						<p align="right" style="margin: 0;">
							<span style="font-size:12px;">
								赞(<span><a href="#" target="_black">11</a></span>)&nbsp; 
								推荐(<span><a href="#" target="_black">11</a></span>)&nbsp; 
								评论(<span><a href="#" target="_black">11</a></span>)&nbsp; 
							</span> 
						  	</p>
							<p align="right"><span>By </span><span style="font-size:12px;"><a>kinddd</a> &nbsp;</span></p>
						</div>
					</div>
				  </div>
				  <div class="col-sm-6 col-md-4 list" style="margin-bottom: 20px;">
				<div class="contents">
					<div class="thumbnail-1">
						<a href="#"><img src="__IMG__/6453013_133853054136_2.jpg" alt="Generic placeholder thumbnail"></a>
					</div>
					<div style="height:130px;">
						<p class="contents-title"><span><a href="#">正宗富士苹果</a></span> </p>
						<p class="contents-company"><span><a href="#">北京新发地农贸</a></span></p>
						<p class="contents-describe"><span>使用单一的一组.col-md-*栅格类，就可以创建一个基本的栅格... </span></p>
						<p align="right" style="margin: 0;">
							<span style="font-size:12px;">
								赞(<span><a href="#" target="_black">11</a></span>)&nbsp; 
								推荐(<span><a href="#" target="_black">11</a></span>)&nbsp; 
								评论(<span><a href="#" target="_black">11</a></span>)&nbsp; 
							</span> 
						  	</p>
							<p align="right"><span>By </span><span style="font-size:12px;"><a>kinddd</a> &nbsp;</span></p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 list" style="margin-bottom: 20px;">
				<div class="contents">
					<div class="thumbnail-1">
						<a href="#"><img src="http://static.i3.xywy.com/cms/20141215/8b0f29c8be62c3859ecfdb948fe22c8241173.jpg" alt="Generic placeholder thumbnail"></a>
					</div>
					<div style="height:130px;">
						<p class="contents-title"><span><a href="#">正宗富士苹果</a></span> </p>
						<p class="contents-company"><span><a href="#">北京新发地农贸</a></span></p>
						<p class="contents-describe"><span>使用单一的一组.col-md-*栅格类，就可以创建一个基本的栅格... </span></p>
						<p align="right" style="margin: 0;">
							<span style="font-size:12px;">
								赞(<span><a href="#" target="_black">11</a></span>)&nbsp; 
								推荐(<span><a href="#" target="_black">11</a></span>)&nbsp; 
								评论(<span><a href="#" target="_black">11</a></span>)&nbsp; 
							</span> 
						  	</p>
							<p align="right"><span>By </span><span style="font-size:12px;"><a>kinddd</a> &nbsp;</span></p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 list" style="margin-bottom: 20px;">
				<div class="contents">
					<div class="thumbnail-1">
						<a href="#"><img src="http://anhui.sinaimg.cn/2012/0411/U7657P1276DT20120411140803.jpg" alt="Generic placeholder thumbnail"></a>
					</div>
					<div style="height:130px;">
						<p class="contents-title"><span><a href="#">正宗富士苹果</a></span> </p>
						<p class="contents-company"><span><a href="#">北京新发地农贸</a></span></p>
						<p class="contents-describe"><span>使用单一的一组.col-md-*栅格类，就可以创建一个基本的栅格... </span></p>
						<p align="right" style="margin: 0;">
							<span style="font-size:12px;">
								赞(<span><a href="#" target="_black">11</a></span>)&nbsp; 
								推荐(<span><a href="#" target="_black">11</a></span>)&nbsp; 
								评论(<span><a href="#" target="_black">11</a></span>)&nbsp; 
							</span> 
						  	</p>
							<p align="right"><span>By </span><span style="font-size:12px;"><a>kinddd</a> &nbsp;</span></p>
						</div>
					</div>
				</div>
    	</div>                
    <div class="row" style="text-align :center">---&nbsp;&nbsp;&nbsp;&nbsp;<img src="__IMG__/jiazai.gif">&nbsp;&nbsp;&nbsp;&nbsp;---</div>
 