<div class="row" style="margin-left: 20px;margin-right:15px">
	<ol class="breadcrumb" style="background-color: #fff;">
		<li><a href="#">个人中心</a></li>
		<li><a href="#">商品管理</a></li>
		<li class="active">商品列表-新增</li>
</ol>
<div style="background-color: #fff;padding:15px">
 <table class="table table-hover">
		<thead>
			<tr>
				<th width="10%">
					<div class="checkbox" style="margin-bottom: 0px;margin-top: 0px;">
					<label><input type="checkbox"> 全选</label>
  					</div>
  				</th>
				<th width="30%">商品名称</th>
				<th>评论数</th>
				<th>收藏数</th>
				<th>放心值</th>
				<th>发布时间</th>
				<th style="text-align:center">操作</th>
			</tr>
		</thead>
	<tbody>
		<tr>
			<td><input type="checkbox"> </td>
			<td>Mark</td>
			<td>Otto</td>
			<td>@mdo</td>
			<td>@mdo</td>
			<td>2015/01/19</td>
			<td style="text-align:center">
				<p style="margin:0px;">
				  <button type="button" class="btn btn-default  btn-xs">button</button>
				  <button type="button" class="btn btn-default  btn-xs">button</button>
				</p>
			</td>
		</tr>
		<tr>
			<td><input type="checkbox"> </td>
			<td>Jacob</td>
			<td>Thornton</td>
			<td>@fat</td>
			<td>@mdo</td>
			<td>2015/01/19</td>
			<td style="text-align:center">
				<p style="margin:0px;">
				  <button type="button" class="btn btn-default  btn-xs">button</button>
				  <button type="button" class="btn btn-default  btn-xs">button</button>
				</p>
			</td>
		</tr>
		<tr>
			<td><input type="checkbox"> </td>
			<td colspan="2">Larry the Bird</td>
			<td>@twitter</td>
			<td>@mdo</td>
			<td>2015/01/19</td>
			<td style="text-align:center">
				<p style="margin:0px;">
				  <button type="button" class="btn btn-default  btn-xs">button</button>
				  <button type="button" class="btn btn-default  btn-xs">button</button>
				</p>
			</td>
		</tr>
		<tr>
			<td><input type="checkbox"> </td>
			<td colspan="2">Larry the Bird</td>
			<td>@twitter</td>
			<td>@mdo</td>
			<td>2015/01/19</td>
			<td style="text-align:center">
				<p style="margin:0px;">
				  <button type="button" class="btn btn-default  btn-xs">button</button>
				  <button type="button" class="btn btn-default  btn-xs">button</button>
				</p>
			</td>
		</tr>
		<tr>
			<td><input type="checkbox"> </td>
			<td colspan="2">Larry the Bird</td>
			<td>@twitter</td>
			<td>@mdo</td>
			<td>2015/01/19</td>
			<td style="text-align:center">
				<p style="margin:0px;">
				  <button type="button" class="btn btn-default  btn-xs">button</button>
				  <button type="button" class="btn btn-default  btn-xs">button</button>
				</p>
			</td>
		</tr>
		</tbody>
		</table>
	</div>
</div>