			<div class="container-fluid">
				<ol class="breadcrumb" style="background-color: #fff;">
				  <li><a href="#">我的农场</a></li>
				  <li><a href="#">农场管理</a></li>
				  <li class="active">新增记录</li>
				</ol>
					<div class="ucenter-content">
							<form class="form-horizontal" role="form">
							    <div class="form-group">
							      <label class="col-md-2 control-label">记录类型</label>
							      <div class="col-md-6">
							         <select multiple class="form-control" name="category_id">
									  <option>生长</option>
									  <option>用药</option>
									  <option>成熟</option>
									  <option>出售</option>
									</select>
							      </div>
							   </div>
						   <div class="form-group">
						      <label class="col-md-2 control-label">发生时间</label>
						      <div class="col-md-6">
						      	<select class="form-control">
									<option value="">2015年</option>
									<option value="">2014年</option>
									<option value="">2013年</option>
								</select>
						      </div>
						   </div>
						   <div class="form-group">
						      <label class="col-md-2 control-label">
						         详细描述
						      </label>
						      <div class="col-md-6">
						         <textarea class="form-control" rows="3" name="goods_detail"></textarea>
						      </div>
						   </div>
						   <div class="form-group">
						      <label class="col-md-2 control-label">
						         图片/视频
						      </label>
						      <div class="col-md-7">
						         <div class="bs-example bs-example-images" data-example-id="image-shapes" style="text-align:left;">
									<div class="goods-img">
										<div class="content-album-del"><a class="modify" href="javascript:;" title="编辑" style="font-size:12px">封面</a>&nbsp;<a class="delete" href="javascript:;" title="删除" style="font-size:12px">删除</a></div>
										<img class="img-thumbnail" alt="140x140" data-src="holder.js/140x140" style="width: 140px; height: 140px;" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQzLjUiIHk9IjcwIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTQweDE0MDwvdGV4dD48L2c+PC9zdmc+" data-holder-rendered="true"></div>
									<div class="goods-img">
										<div class="content-album-del"><a class="modify" href="javascript:;" title="编辑" style="font-size:12px">封面</a>&nbsp;<a class="delete" href="javascript:;" title="删除" style="font-size:12px">删除</a></div>
										<img class="img-thumbnail" alt="140x140" data-src="holder.js/140x140" style="width: 140px; height: 140px;" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQzLjUiIHk9IjcwIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTQweDE0MDwvdGV4dD48L2c+PC9zdmc+" data-holder-rendered="true">
									</div>
									<div class="goods-img">
										<div class="content-album-del"><a class="modify" href="javascript:;" title="编辑" style="font-size:12px">封面</a>&nbsp;<a class="delete" href="javascript:;" title="删除" style="font-size:12px">删除</a></div>
										<img class="img-thumbnail" alt="140x140" data-src="holder.js/140x140" style="width: 140px; height: 140px;" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQzLjUiIHk9IjcwIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTQweDE0MDwvdGV4dD48L2c+PC9zdmc+" data-holder-rendered="true">
										</div>
									<div class="goods-img">
										<div class="content-album-del"><a class="modify" href="javascript:;" title="编辑" style="font-size:12px">封面</a>&nbsp;<a class="delete" href="javascript:;" title="删除" style="font-size:12px">删除</a></div>
										<img class="img-thumbnail" alt="140x140" data-src="holder.js/140x140" style="width: 140px; height: 140px;" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQzLjUiIHk9IjcwIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTQweDE0MDwvdGV4dD48L2c+PC9zdmc+" data-holder-rendered="true">
									</div>
									<div class="goods-img">
										<div class="content-album-del"><a class="modify" href="javascript:;" title="编辑" style="font-size:12px">封面</a>&nbsp;<a class="delete" href="javascript:;" title="删除" style="font-size:12px">删除</a></div>
										<img class="img-thumbnail" alt="140x140" data-src="holder.js/140x140" style="width: 140px; height: 140px;" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQzLjUiIHk9IjcwIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MTQweDE0MDwvdGV4dD48L2c+PC9zdmc+" data-holder-rendered="true">
									</div>
									<div class="goods-img-upload"><button type="button" class="btn" style="width: 130px; height: 130px;">点击上传</button></div>
								</div>
						      </div>
						   </div>
						   <div class="form-group">
						      <label class="col-md-2 control-label" for="inputError">
						      </label>
						      <div class="col-md-6">
						         <button type="submit" class="btn btn-default">Submit</button>
						      </div>
						   </div>
						</form>
					</div>
				</div>